<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li>
        <!-- <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true" style="color:#000;"></i> {{ site.data.ui-text[site.locale].feed_label | default: "" }}</a> -->
        <a href="mailto:howdy@justinpocta.com?subject=Hello"><i class="fas fa-envelope" aria-hidden="true" style="color:#000;"></i></a>
        <a href="https://linkedin.com/in/justinpocta"><i class="fab fa-fw fa-linkedin" aria-hidden="true" style="color:#000;"></i></a>
        <a href="https://dribbble.com/justinpocta"><i class="fab fa-fw fa-dribbble" aria-hidden="true" style="color:#000;"></i></a>
        <a href="https://github.com/justinpocta"><i class="fab fa-fw fa-github" aria-hidden="true" style="color:#000;"></i></a>
        <a rel="me" href="https://bsky.app/profile/justinpocta.com" class="it-me-mastodon"><i class="fab fa-fw fa-bluesky" aria-hidden="true" style="color:#000;"></i></a>
        <!-- <a href="https://mastodon.social/@justinpocta"><i class="fab fa-fw fa-mastodon" aria-hidden="true" style="color:#000;"></i></a> -->
        <a rel="me" href="https://mastodon.social/@justinpocta" class="it-me-mastodon"><i class="fab fa-fw fa-mastodon" aria-hidden="true" style="color:#000;"></i></a>
      </li>
    {% endunless %}
  </ul>
</div>
