---
---

@import "{{ site.theme }}";

a {color:rgb(185, 158, 1); font-family: Baskerville,serif;}
.markdown-body h1 {padding-bottom: 0.75em;}

#--justin-pocta-is-a-product-designer-passionate-about-building--refining-digital-products-to-improve-peoples-lives-and-work {
    border-bottom: none !important;
}